<!DOCTYPE html>
<html>
    <head>
        <title>Kortpress-Student-ID admin panel</title>
        <style>
            body { font-family: Arial, Helvetica, sans-serif; padding: 10px;}
        </style>
    </head>
    <body>
        <h1>digitale Schülerausweise</h1>
        <h2>Administrations-Bereich</h2>
        <div>
            <table><tr>
            <td><b>Datenabgleich</b></td>
            <td><button onclick="document.location='{{@BASE}}/admin/check'">Ausgetretene löschen</button><br /></td></tr><tr ><td></td>
            <td><button onclick="document.location='{{@BASE}}/admin/double'">Doppelt ausgestellte löschen</button><br /></td>
            </tr><tr>
            <td><b>Verlängern</b></td>
            <td><button onclick="document.location='{{@BASE}}/admin/renew'">gültige Ausweise um aktuelles Schuljahr verlängern</button></td>
            <td><button onclick="document.location='{{@BASE}}/admin/reissue-all'">alle Ausweise neu ausstellen (Vorsicht)</button></td>
            </tr>
            <tr>
                <form method="POST" action="{{@BASE}}/admin/reissue" autocomplete="off"><td>
                    <input type="text" placeholder="Schüler-ID/login" name="searchID" autocomplete="nothanks" /></td>
                <td><button type="submit">Ausweis neu ausstellen</button></td>
                </form>
            </tr>
            <tr>
                <form method="POST" action="{{@BASE}}/admin/update" autocomplete="off"><td>
                    <input type="text" placeholder="Schüler-ID/login" name="searchID" autocomplete="nothanks" /></td>
                <td><button type="submit">Ausweis aktualisieren</button></td>
                </form>
            </tr>
            <tr>
                <form method="POST" action="{{@BASE}}/admin/delete" autocomplete="off"><td>
                    <input type="text" placeholder="Schüler-ID/login" name="dsearchID" autocomplete="nothanks" 
                     style="border-color: #f88; background-color:#fdd" /></td>
                <td><button type="submit" style="background-color: #fdd;">Einzelnen Ausweis löschen</button></td>
                </form></tr>
            </table>
        </div>
        <div style="margin-top: 10px"><b>Status:</b><br />Ausgegebene Ausweise: {{@numPasses}}<br />
        <!-- p style="white-space: pre-line" -->
            {{@message | nl2br,raw}}

        </div>
    </body>
</html>