<!DOCTYPE html>
<html>
    <head>
        <title>Kortpress-Student-ID admin panel</title>
        <style>
            body { font-family: Arial, Helvetica, sans-serif; padding: 10px;}
        </style>
    </head>
    <body>
        <h1>digitale Schülerausweise</h1>
        <h2>Administrations-Bereich</h2>
        <div>
            <table><tr>
            <td><b>Datenabgleich</b></td>
            <td><button onclick="document.location='{{@BASE}}/admin/check'">Ausgetretene löschen</button><br /></td>
            </tr><tr>
            <td><b>Verlängern</b></td>
            <td><button onclick="document.location='{{@BASE}}/admin/renew'">gültige Ausweise um aktuelles Schuljahr verlängern</button></td>
            </tr><tr>
            <form method="POST" action="{{@BASE}}/admin/reissue" autocomplete="off"><td>
                <input type="text" placeholder="Schüler-ID/login" name="searchID" autocomplete="nothanks" /></td>
            <td><button type="submit">Ausweis neu ausstellen</button></td>
            </form></tr>
            </table>
        </div>
        <div style="margin-top: 10px"><b>Status:</b><br />Ausgegebene Ausweise: {{@numPasses}}<br />
        {{@message}}</div>
    </body>
</html>